<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Подробное описание</title>
</head>
<body>
<div class="container-xl">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../../static/images/logoTodo.png"
                                                  alt="TODO list" th:src="@{/../images/logoTodo.png}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/tasks}">Все</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tasks/done}">Выполнено</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tasks/new}">Новые</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" role="button" th:href="@{/tasks/create}">Добавить задание</a>
                    </li>
                </ul>
                <div class="d-flex" th:if="${user.name == 'Гость'}">
                    <a class="nav-link text-secondary" th:href="@{/users/register}">Регистрация</a>
                    <b>|</b>
                    <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
                </div>
                <div class="d-flex" th:if="${user.name != 'Гость'}">
                    <a class="nav-link text-secondary" href="#" th:text="${user.name}"></a>
                    <b>|</b>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h3>Подробное описание</h3>
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="'Задание № ' + ${task.id}">Задние №</h5>
                <h6 class="card-subtitle mb-2 text-muted"
                    th:text="'Создана: ' + ${#temporals.format(task.created, 'dd-MM-yyyy HH:mm:ss')}">Дата создания</h6>
                <p class="card-text" th:text="${task.description}">Описание</p>
                <div th:if="${!task.done}" class="alert alert-primary" role="alert">
                    Задание активно.
                </div>
                <div th:if="${task.done}" class="alert alert-success" role="alert">
                    Задание выполнено.
                </div>
                <!--Выполнено, Отредактировать, Удалить.-->
                <a class="btn btn-success"
                   th:if="${!task.done}"
                   th:href="@{/tasks/doneTask/{taskId}(taskId=${task.id})}">Выполнено</a>
                <a class="btn btn-info" th:href="@{/tasks/edit/{taskId}(taskId=${task.id})}">Отредактировать</a>
                <a class="btn btn-warning" th:href="@{/tasks/delete/{taskId}(taskId=${task.id})}">Удалить</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>